.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 100%;
    height: auto;
}

.sign-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-image img {
    max-width: 100%;
    height: 700px;
}

.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
}

.form-field {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}